mixin video(info)
    a(href=`/videos/${info.id}`)
        div
            h3=info.title
            //p=user
            video(src="/" + info.fileUrl, controls)
            p
                each hashtag in info.hashtags
                    span=hashtag
            small #{info.createAt}