//header
$header-heigth: 55px;
$header-logo: #51af9f;
$header-bg: #fff;
$gnb--li-margin: 20px;
$search--border: #a1d2ba;
//main
$main-bg: #f9f9f9;
$h2-color: #51af9f;
$h3-color: #67b6f3;
$btn-color: #67b6f3;
$comment-bg: #a1d2ba;
$form-bg: #51af9f;
