doctype html
html(lang="ko")
    head
        title #{pageTitle} | HYETUBE
        meta(property="og:image", content="")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer")
    body
        header
            h1
                a(href="#")
                    i(class="fab fa-youtube")
            nav#gnb
                ul
                    li
                        a(href="/") HOME
                    li
                        a(href="/search") SEARCH
                    li
                        a(href="/videos/upload") UPLOAD
                    li
                        a(href="/login") LOGIN
                    li
                        a(href="/join") JOIN
        main
            block content
        include ./partials/footer.pug
        script(src="/static/js/main.js") 
        block scripts