extends base
include mixins/video
block content
    h2 Welcome #{siteName}
    div#container
        each video in videos
            a(href=`/videos/${video.id}`)
                +video(video)
        else
            em Nothing Found