extends base
include mixins/video
block content
    h2 Welcome HYETUBE
    div#container
        each video in videos
            +video(video)
        else
            p Nothing Found
        div#control
            a(href="#").play
                i(class="fas fa-play")
            a(href="#").mute
                i(class="fas fa-volume-mute")