extends base
block content
    h2 Join #{siteName}
    em=errorMessage
    form(method="POST", enctype="multipart/form-data")
        input(name="email", placeholder="Email",type="email", required)
        input(name="username",placeholder="Username", type="text", required)
        input(name="password", placeholder="Password",type="password", required)
        input(name="password2", placeholder="Confrim Password",type="password", required)
        input(type="file", name="avatar", accept="image/*")
        input(type="submit", value="JOIN")
    div
        span Did you get account ?
        a.arrow(href="/login") Login now &rarr;