extends base
include mixins/video

block content
    h2=pageTitle
    a(href="/users/edit-profile").arrow Edit profile &rarr;
    a(href="/users/change-password").arrow Change Password &rarr;
    div#container.home
        each video in user.videos
            +video(video)
        
