extends base
include mixins/video

block content
    div#container
        h2.ir-hidden Search
        each video in videos
            a(href=`/videos/${video.id}`)
                +video(video)
        else
            em There's no content.