extends base
block content
    form(method="POST", enctype="multipart/form-data")
        em=errorMessage
        label(for="video") Video File
        input(type="file", id="video",name="video", required, accept="video/*") 
        label(for="title") Title
        input(type="text", id="title", name="title", placeholder="Title",required)
        label(for="description") Description
        input(id="description", name="description",placeholder="Description", required)
        label(for="hashtags") Hashtags
        input(id="hashtags", name="hashtags",placeholder="Ex) A,B,C")
        input(type="submit", value="Upload")