extends base
include mixins/video.pug
block content
    +video(video)
    div#control
        a(href="#").play
            i(class="fas fa-play")
        a(href="#").mute
            i(class="fas fa-volume-mute")
        input(type="range", min="0",max="1", step="0.1", value="0.5").volume
        p.time
            span 00:00
            span /
            span 00:00
        a(href="#").fullscreen
            i(class="fas fa-compress")
        input(type="range", min="0",step="1", value="0").timeline
    a(href=`/videos/${video.id}/edit`) Edit &rarr;
    a(href=`/videos/${video.id}/remove`) Remove &rarr;