extends base
include mixins/video.pug
block content
    h2.ir-hidden Watch Video
    div#container
        +video(video)
        div#control()
            a(href="#").play
                i(class="fas fa-play")
            a(href="#").mute
                i(class="fa-solid fa-volume-high")
            input(type="range", min="0",max="1", step="0.1", value="0.5").volume
            p.time
                span.currentTime 00:00
                span /
                span.totalTime 00:00
            a(href="#", title="전체화면 f").fullscreen
                i(class="fas fa-expand")
            input(type="range", min="0",step="1", value="0").timeline
        if String(video.owner._id) === String(loggedInUser._id)
            a(href=`/videos/${video.id}/edit`) Edit &rarr;
            a(href=`/videos/${video.id}/remove`) Remove &rarr;
    if loggedIn
        div.video__comments
            form.video__comment-form#commentForm
                textarea(placeholder="Write Comment", cols="30", rows="10") 
                button Post Comment
            ul.video__comment-ul
                each comment in video.comments.reverse()
                    li(data-id=comment._id)
                        span=comment.text
                        if String(comment.owner) === String(loggedInUser._id)
                            span.video__comment-delete
                                a(href="#")
                                    i(class="fa-solid fa-xmark")
block scripts
    script(src="/static/js/videoPlayer.js")
    if loggedIn
        script(src="/static/js/commentSection.js") 